body {
  max-width: 100%;
  overflow-x: hidden;
}

/* section1 layout */

.section1 {
  position: relative;
  background-color: rgb(255, 243, 235);
}

.s1-text {
  position: absolute;
  top: 15%;
  width: 100%;
  font-size: 20px;
  padding-left: 50px;
}

#s1-button {
  background-color: rgb(247, 151, 39);
  color: rgb(255, 255, 255);
  border-radius: 8px;
  padding-top: 10px;
  padding-bottom: 8px;
}

.ondo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#figure {
  width: 110px;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  position: relative;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
}

/* section 2  */
.section2 {
  position: relative;
  background-color: rgb(255, 243, 235);
}

.s2 {
  padding-left: 22px;
}
.s2-text {
  position: absolute;
  top: 25%;
  width: 100%;
  font-size: 20px;
}
#s2-button {
  background-color: rgb(247, 151, 39);
  color: rgb(255, 255, 255);
  border-radius: 8px;
  position: absolute;
  top: 20%;
  padding-top: 8px;
  padding-bottom: 8px;
}

/* section 3 design */
.section3 {
  background-color: rgb(252, 251, 237);
}

.s3-text {
  position: absolute;
  top: 240%;
  font-size: 20px;
  padding-right: 50%;
}

/* section4 layout */

.section4 {
  background-color: rgb(252, 251, 237);
}

.s4-text {
  position: absolute;
  top: 344%;
  width: 100%;
  font-size: 20px;
  padding-left: 55%;
}

/* section5 layout */
.section5 {
  background-color: rgb(201, 227, 233);
}

.s5-text {
  position: absolute;
  top: 450%;
  width: 100%;
  font-size: 20px;
  padding-left: 55%;
}

/* section6  layout */
.section6 {
  background-color: rgb(227, 237, 239);
}
.s6-text {
  position: absolute;
  top: 550%;
  font-size: 20px;
  padding-left: 50px;
}

#s6-button {
  background-color: rgb(243, 245, 245);
  color: rgb(4, 3, 3);
  border-radius: 8px;
  position: relative;
  top: 20%;
  padding-top: 8px;
  padding-bottom: 8px;
}

/* 
section 7 layout   */

.s7 {
  display: flex;
  justify-content: space-around;
}

.s7 h3 {
  color: rgb(128, 178, 53);
}

.list {
  display: flex;
  flex-direction: column;
  text-align: justify;
  justify-content: space-evenly;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #e7eced;
  padding: 20px;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

.final {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4rem;
  padding-top: 3rem;
  padding-left: 2rem;
  padding-right: 4rem;
}
