.section1 {
  background-color: rgb(252, 251, 237);
}
.section2 {
  background-color: rgb(255, 243, 235);
}
.section3 {
  background-color: rgb(252, 251, 237);
}
.section4 {
  background-color: rgb(252, 251, 237);
}
.section5 {
  background-color: rgb(252, 251, 237);
}
.section6 {
  background-color: rgb(252, 251, 237);
}
